{% extends "base2.html" %}
{% block content %}
{% load static %}




<h3>Rutinas para elegir</h3>
{% if user.is_authenticated %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href={% url 'addRut' %}><button class="btn btn-primary me-md-2" type="button">Crear nueva rutina</button></a>   
</div>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Rutina</th>
            <th>Tipo de rutina</th>
            <th>Nivel</th>
            <th>Descripción</th>
        </tr>
        <tbody>
        {% for rutina in rutinas %}
            <tr>
                <td>{{ rutina.routine_name }}</td>
                <td>{{ rutina.category }}</td>
                <td>{{ rutina.level }}</td>
                <td>{{ rutina.description }}</td>
                <td><a href={% url 'rutina' id=rutina.id %}><button class="btn btn-primary me-md-2" type="button">ver rutina</button></a></td>
                {% if user.is_superuser %}
                    <td><a href={% url 'addRutExer' id=rutina.id %}><button class="btn btn-primary me-md-2" type="button">editar rutina</button></a></td>
                {% endif %}

            </tr>
        {% endfor %}
            </tbody>
    </thead>
</table>



{% endblock %}