{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row">
    <div class="card p-2 col" style="width: 18rem;">
        <img src={% static 'imgs/recursos1.jpg' %} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rutina para el Lunes</h5>
            <p class="card-text">Esta es una rutina diseñada para el día nro 1.</p>
            <a href="#" class="btn btn-primary">Vamos a verla</a>
        </div>
    </div>


    <div class="card p-2 col" style="width: 18rem;">
        <img src={% static 'imgs/recursos1.jpg' %} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rutina para el Martes</h5>
            <p class="card-text">Esta es una rutina diseñada para el día nro 2.</p>
            <a href="#" class="btn btn-primary">Vamos a verla</a>
        </div>
    </div>


    <div class="card p-2 col" style="width: 18rem;">
        <img src={% static 'imgs/recursos1.jpg' %} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rutina para el Miercoles</h5>
            <p class="card-text">Esta es una rutina diseñada para el día nro 3.</p>
            <a href="#" class="btn btn-primary">Vamos a verla</a>
        </div>
    </div>


    <div class="card p-2 col" style="width: 18rem;">
        <img src={% static 'imgs/recursos1.jpg' %} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rutina para el Viernes</h5>
            <p class="card-text">Esta es una rutina diseñada para el día nro 4.</p>
            <a href="#" class="btn btn-primary">Vamos a verla</a>
        </div>
    </div>


</div>
{% endblock %}