{% extends "base.html" %}
{% block content %}


<h3>Usuario <strong>{{ perfil.user.username }}</strong></h3>

<h3>Dirección <strong>{{ perfil.address }}</strong></h3>

<h3>Peso <strong>{{ perfil.weight }}</strong></h3>

<h3>Altura <strong>{{ perfil.height }}</strong></h3>

<h3>Nivel de actividad <strong>{{ perfil.activity_level }}</strong></h3>

<h3>fecha de nacimiento <strong>{{ perfil.birth_date }}</strong></h3>

<h3>Genero <strong>{{ perfil.gender }}</strong></h3>

<h3>Observaciones <strong>{{ perfil.observations }}</strong></h3>

<h3>Foto de perfil <img src={{ perfil.profile_picture }} alt='foto_perfil' /></h3>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href={% url 'edit_perfil' %}><button class="btn btn-primary me-md-2" type="button">Editar perfil</button></a>
  </div>



  {% endblock%}